body{
  background-color: #fff;
}
/*Navbar*/
.navegacion{
background:#ffffff;
padding:30px 0px;
}
.navbar {
  display: block;
  height: 50px;
  background-color: red;
  margin-bottom: 0;
  border: none;
}
.navbar-default{
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  background-color: #ffffff;
  border-color: #ffffff;

}
.navbar-collapse{
  background-color: #ffffff;
  box-shadow: none;
}
.navbar-default .navbar-header .navbar-brand {
  font-size: 25px;
  color: #222222;
}
.navbar-default .nav > li > a {
  display: block;
  font-size: 15px;
  color: #222222;
  text-transform: uppercase;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
  color: #f25454;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #f25454;
}
/* Header */
.jumbotron {
  margin-top: 100px;
  background-color: #f25454;
  color: #fff;
}
/* articulos */
.main {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post {
  padding-bottom:20px;
  margin-bottom:20px;
  border-bottom:1px solid #999;
}
.post .titulo-post {
  text-align: center;
}
.post .titulo-post a {
  color:#49b5e7;
  text-decoration: none;
}

.post .thumb {
  margin-right:10px;
}

.post .contenedor-botones{
  text-align: center;
}
.post .contenedor-botones .btn-primary {
  background-color: #49b5e7;
  border-color: #49b5e7;

}
/*FOOTER*/
.footer {
  background:#f25454;
  padding:15px 22px;
}

ul.social-network {
  list-style:none;
  margin-top:20px;
  padding:10px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

ul.social-network li {
  display:inline;
  margin: 0 18px;
  font-size:25px;
}

ul.social-network li a {
  color:#d0d0d0;
}
.social-network li:hover .fa-twitter {
  color: #00abf0;
}
.social-network li:hover .fa-facebook {
  color: #39579a;
}
.social-network li:hover .fa-google-plus {
  color: #eb8984;
}
.social-network li:hover .fa-pinterest {
  color: #c9171e;
}
.social-network li:hover .fa-linkedin {
  color: #0077b5;
}
.social-network li:hover .fa-youtube-play {
  color: #C84941;
}
.social-network li:hover .fa-dribbble {
  color: #EA4C89 ;
}
.social-network li:hover .fa-pinterest-square {
  color: #EA4B49;
}

.copyright {
  margin-top:30px;
    text-align: right;
}

.copyright a {
  color:#fff;
  font-weight:600;
  font-size:12px;
  text-shadow:none;
}
